header {
    background-color: rgb(139, 219, 219);
    grid-column: 1/4;
}

aside {
    background-color: rgb(169, 140, 196);
}

main {
    background-color: rgb(153, 209, 190);
}


.maincont {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 10px;
}

.blokmain1,
.blokmain2,
.blokmain3
 {
    background-color: rgb(175, 230, 130);
    height: 45%;

}

.blokmain1,
.blokmain2 {
    align-self: flex-end;
}

.blokmain3 {

    grid-column: 2/4;

    align-self: start;
}

  

    @media screen and (min-width: 1024px) {
        .footcont {
            display: grid;
            grid-template-columns: 15% 15% 15% 15%;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(72, 73, 70);
            grid-column: 1/4;
        }

            .footcontt {
                background-color: rgb(175, 230, 130);
                height: 45%;
            
            }

            .conteiner {
                display: grid;
                grid-template-columns: 3fr 1fr;
                grid-template-rows: 10% 1fr 20%;
                height: 90vh;
                width: 100vw;
                text-align: center;
            
            }
        }
        


        @media screen and (min-width: 768px) and (max-width: 1023px) {
            .footcont {
                display: grid;
                grid-template-columns: 15% 15% 15% 15%;
                align-items: center;
                justify-content: space-between;
                background-color: rgb(72, 73, 70);
                grid-column: 1/4;
            }
    
                .footcontt {
                    background-color: rgb(175, 230, 130);
                    height: 45%;
                
                }
    
                .conteiner {
                    display: grid;
                    grid-template-columns: 3fr 1fr;
                    grid-template-rows: 10% 1fr 20%;
                    height: 90vh;
                    width: 100vw;
                    text-align: center;
                
                }
              
            }

        @media screen and (max-width: 767px) {
           
                header,
                main,
                aside,
                footer {
                    height: 30vh;
                }
                .footcont {
                    display: grid;
                    grid-template-columns: 15% 15% 15% 15%;
                    align-items: center;
                    justify-content: space-between;
                    background-color: rgb(72, 73, 70);
                    grid-column: 1/4;
                }
        
                    .footcontt {
                        background-color: rgb(175, 230, 130);
                        height: 45%;
                    
                    }
            }
        




